*
  margin 0
  padding 0

html, body 
  font-size 30px

section 
 margin-bottom .667rem
 background-color #fff
 border-radius 10px
 overflow hidden

.card
  padding: 1rem
  background  #F5FAFE
  &-wrapper 
    width 100%
    .user-info
      width 100%
      font-size 0
      &__pic
        width 100%
        img 
          width 100%
      &__desc
        padding .333rem .667rem
        .name
          font-size 1rem
          color #010101
          .sex
            width .67rem
            height .6rem
            display inline-block
            background-image url(./img/sexw.png)
            background-size contain
      &__cha
        padding .333rem .667rem
        .cha
          display flex
          .cha1
            width 1.33rem
            height .667rem
            background-color blue
            border-radius 5px
            // p
            //   font-size 5px
            //   text-align center
            //   color #010101
          .cha2
            width 2rem
            height .667rem
            background-color green
            margin-left .267rem
            border-radius 5px
            // p
            //   font-size 5px
            //   text-align center
            //   color #010101
          .cha3
            width 1.77rem
            height .667rem
            background-color orange
            margin-left .267rem
            border-radius 5px
          p
            font-size 10px
            text-align center 
            color white
      &__adr
        padding .333rem .667rem
        display flex
        .adr
            font-size 10px 
            width .67rem
            height .6rem
            display inline-block
            background-image url(./img/2.png)
            background-size contain
        .job
            font-size 10px
            width .67rem
            height .6rem
            display inline-block
            background-image url(./img/2.png)
            background-size contain


            

          